
{% extends 'base_website.html' %}

{% block title %}Password Reset Page{% endblock title %}

{% block content %}

<body class="login">
 <div class="login_wrapper" >
        <div class="animate form login_form">
          <section class="login_content">
            <form method="post">
               {% csrf_token %}
              <h1> Password Reset </h1>
                <p>Please enter your email address we will send instruction to reset password</p>
              <div>
                <input type="text" class="form-control"  id="id_email" placeholder="Email" required="" />
              </div>
              <div>
                <button class="btn btn-default submit" type="submit" >Send</button>
              </div>

              <div class="clearfix"></div>

                 <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="{% url 'login' %}" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
              </div>

            </form>
          </section>
        </div>
 </div>
</body>
{% endblock %}